.mainContainerOuterBox{
    width: 100%;
    min-height: 100vh;
    margin-top:5rem;
    display:flex;
    overflow: auto;


}


.mainContainer{
    width: 100%;
    min-height: 100vh;
    display:flex;
    overflow: auto;
    /* border: red 1px solid; */

}

.TagBarContainer{
    margin:0;
    width: 20%;
    background-color: #F7F7F7;
    border-right: rgba(128,128,128, 0.1) 0.03rem solid;
}


.ListContainer{
    margin:0;
    width: 80%;
}