.itemList{
    width:100%;
    height: fit-content;
    margin:0 3rem;
    padding:0 1rem;
    list-style: none;
    /* border: red 1px solid; */
    overflow: auto;


}

.no-item{
    padding:3rem 5rem
}

.no-item__phrase1{
    color: #092A48;
    font-size: 2rem;

}

.no-item__phrase2{
    color: #0276B5;
    font-size: 2rem;
    
  }