
.addItemModal__container{
    position: fixed;
    background-color: white;
    width: 60%;
    height: 8rem;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 1rem;

    display:flex;
    flex-direction: column;
    background-color: white;
    border: rgba(128,128,128, 0.1) 0.03rem solid;
    z-index: 25;
}

.addItemForm {

    margin: 0 auto;
    width: 100%;
    padding: 0.3em;
    font-size: x-small;
  }
  
/* input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font: 1.3em sans-serif;
    width: 80%;
    box-sizing: border-box;

  } */
  /* .taskDate{
      font: 0.5rem;
  } */


.addItemForm__taskNameContainer{
    width:100%;
    height:40%;
    margin:1rem;
}

.addItemForm__taskButtonsContainer{
    width:90%;
    height:40%;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;

}

.taskDate{
    width: 30%;
    height: 100%;
    /* border: red solid 1px; */
    align-self: center;

}

.taskTag{
    width: 30%;
    height: 100%;
    /* border: red solid 1px; */
}

.addTaskButtonBox{
    width: 15%;
    height: 80%;

}
.addTaskButtons{
    width: 100%;
    height: 100%;
    background-color: white;
    border: rgba(128,128,128, 0.1) 0.03rem solid;

}
.modalButtonText{
    color:   #0276B5;
    text-align: center;
}


.addTask__button{
    background-color:   #0276B5;
    border: 1px red solid;
    
}
.reverse{
    color: white;
}


